p,
h3 {
  margin: 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

/*
 * This is to make sure the text on dividers does not have a background color.
 *  These classes belong to prime faces.
 */
.p-divider .p-divider-content {
  background-color: rgba(255, 255, 255, 0);
}
